.bullets ul {
  list-style-type: none;
  padding: 0;
  font-size: 3em;
}
.bullets ul li {
  text-align: center;
  margin-left: 0;
  padding: 25px;
}

.smbullets ul {
  list-style-type: none;
  padding: 0;
  font-size: 2em;
}
.smbullets ul li {
  text-align: center;
  margin-left: 0;
  padding: 10px;
}

.smbullets ul li ul {
  list-style-type: none;
  font-size: 0.75em;
}

.smbullets ul li ul li{
  padding: 2px;
}

pre {
  font-size: 1.8em;
}
